.grid {
    display: grid;
    grid-template-areas: "chatlist content" "textarea textarea";
    grid-template-rows: 1fr 0.2fr;
    grid-template-columns: 200px 1fr;
    gap: 1em;
    height: 100%;
}

.grid>nav {
    grid-area: chatlist;
    border: 1px solid gray;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
}

.grid>nav>span.user-nav-item {
    padding: 0.5em;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    gap: 1em;
}

.active {
    background-color: #d4d4d4;
}

.grid>nav>span.user-nav-item:hover {
    background-color: #e3e2e2;
    cursor: pointer;
}

.grid>section {
    grid-area: content;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
    height: 73vh;
}

.message-container {
    gap: 0.3em;
    border: 1px solid black;
    height: 100%;
    border-radius: 5px;
    padding: 1em;
    overflow-y: auto;
    box-shadow: 2px 2px 12px 1px #656565;
}


.message-row {
    display: grid;
    width: 100%;
    margin-bottom: 0.5em;
}

.message {
    padding: 0.2em 0.4em;
    border-radius: 10px;
    position: relative;
    color: white;
    height: fit-content;
    word-break: break-all;
    box-shadow: 1px 1px 4px 0px #656565;
}


.message.verification-failed::after {
    content: "❌";
    font-size: 8pt;
    position: absolute;
    top: -6px;
    right: -7px;
}

.message.verified::after {
    content: "✓";
    font-size: 15pt;
    color: green;
    position: absolute;
    top: -15px;
    right: -9px;
}

.receiver {
    justify-self: flex-start;
    width: fit-content;
    background-color: rgb(62, 194, 255);
}

.sender {
    justify-self: flex-end;
    width: fit-content;
    background-color: rgb(176, 168, 255);
}

.input {
    width: 100%;
}


.dot {
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.dot.online {
    background-color: green;
}

.dot.unread {
    background-color: orange;
}

.textarea {
    grid-area: textarea;
}

.friendrequest>button {
    margin-right: 0.5em;
}

.friendrequest>button:last-child {
    margin-right: 0
}
