.layout {
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0;
    width: min(700px, 80vw);
    gap: 1em;
}

.list {
    display: flex;
    min-height: 0;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    border: 1px solid rgb(194, 194, 194);
    padding: 1em;
    border-radius: 5px;
    height: 100%;
    overflow-y: auto;
}

.listitem {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 11px 12px -3px rgba(0, 0, 0, 0.43);
    background-color: white;
}

.buttons {
    display: flex;
    gap: 1em;
}

.name {
    font-weight: 500;
}

.send {
    width: 100%;
}


.flex {
    display: flex;
    gap: 1em;
}

.flex>div {
    flex: 1;
}

.no_friends {
    font-weight: 600;
    font-size: 26pt;
    color: rgb(197, 197, 197);
    text-align: center;
}
